@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  --bg-color: #141920;
  --bg-color-op05: #141920cc;
  --font: 'Roboto','Noto Sans SC','Noto Sans TC','Noto Sans HK','Noto Sans JP','Noto Sans KR','Microsoft YaHei',serif;
  --theme-color: #ccdcf5;
  font-family: var(--font);
  margin: auto;
  color: #fff;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

#pagetitle {
  margin-top: 0;
  font-size: 42px;
  font-weight: bold;
  opacity: 0.88;
}

#search-box {
  border: none;
  outline: none;
  padding: 12px 16px 12px 32px;
  margin: 24px;
  background-color: #00000077;
  color: #fff;
  font-family: var(--font);
  font-size: 22px;
  border-radius: 32px;
  border: 1px solid #666;
}

#search-btn {
  fill: #ddd;
  --sz: 48px;
  height: var(--sz);
  width: var(--sz);
  padding: calc(var(--sz) / 6);
  border-radius: 50%;
  background-color: darkslategray;
  transition: 0.2s;
  cursor: pointer;
}

#search-btn:hover {
  filter: brightness(0.75);
}

.result-view {
  margin: 120px auto 180px;
}

.back-btn {
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  opacity: 0.8;
  background-color: var(--bg-color-op05);
}

.back-icon {
  --sz: 28px;
  height: var(--sz);
  width: var(--sz);
  fill: #fff;
  margin-right: 4px;
}

.back-btn a {
  padding: 16px;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  transition: 0.2s;
  filter: brightness(0.75);
}

.back-btn a:hover {
  filter: brightness(1);
}

.def-block {
  margin-bottom: 32px;
}

.def-en, .def-trans {
  margin: 4px 0;
}

.def-trans {
  color: var(--theme-color);
}

.pos, .guide, .example {
  color: #bbb;
}

.pos, .example {
  font-style: italic;
}

.gram:hover {
  text-decoration: underline;
}

.example {
  margin: 12px 0;
  list-style-type: '- ';
}

.gram, .source {
  color: #777;
  margin: 0 4px;
  text-decoration: none;
}

.source {
  margin-top: 96px;
}

.suggestion {
  margin: 8px 0;
}

hr {
  margin-top: 64px;
  opacity: 0.25;
}

.w-100 {
  width: 100%;
}

.core-item {
  width: 92.5%;
  max-width: 800px;
}

.no-select {
  user-select: none;
}

.index-btn-list {
  margin: 8px 0;
  opacity: 0.5;
}

.index-btn-list a {
  margin: 0 8px;
}

.adm-btn {
  cursor: pointer;
  width: 100%;
  background-color: #ffffff09;
  margin: 16px 0;
  padding: 20px 40px;
  font-size: 24px;
  border-radius: 12px;
  transition: 0.2s;
}

.adm-btn:hover {
  background-color: #ffffff10;
}

#dashboard {
  user-select: none;
}

#message {
  margin: 8px 0;
  text-align: center;
}

#message:empty {display: none;}

.flex-ct, .flex-lf, .flex-col, .flex-1 {
  display: flex;
  align-items: center;
}

.flex-ct {
  justify-content: center;
}

.flex-lf {
  justify-content: left;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.pg-ct {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pg-btm {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.tx-ct {
  text-align: center;
}

.adm-btn-icon {
  margin-right: 10px;
  --sz: 32px;
  height: var(--sz);
  width: var(--sz);
}

.github-icon-bg {
  background-color: #00000050;
  border-radius: 50%;
}

.error {
  color: red;
}

.warn {
  color: orange;
}

.success {
  color: greenyellow;
}

.command {
  color: #666;
}

/* scrollbar */

:root {
  --scrollbar-size: 10px;
  --scrollbar-sz-mini: 5px;
}

::-webkit-scrollbar {
  height: var(--scrollbar-size);
  width: var(--scrollbar-size);
}
::-webkit-scrollbar-corner {
  background: rgb(255, 255, 255, 0.15);
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.175);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width:500px){
  :root {
    --view-width: 90vw;
    --scrollbar-size: var(--scrollbar-sz-mini);
  }
}