<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin - Cambridge Dictionary API</title>
  <meta content="Admin - Cambridge Dictionary API" property="og:title"/>
  <meta content="Made by C.H. CHEE" name="description"/>
  <meta content="Made by C.H. CHEE" property="og:description"/>
  <meta content="/static/og-image.png" property="og:image"/>
  <meta content="website" property="og:type"/>
  <meta content="Cambridge Dictionary API" property="og:site_name"/>
  <meta content="C.H. CHEE" name="author"/>
  <meta content="Cambridge, dictionary, API" name="keywords"/>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
  <link rel="stylesheet" href="/static/main.css">
  <script src="/static/main.js"></script>
</head>
<body class="no-select">
  <div id="dashboard" class="pg-ct">
    <h1 class="tx-ct">Admin</h1>
    <div id="push" class="adm-btn flex-lf">
      <div class="flex-ct adm-btn-icon github-icon-bg">
        <svg style="fill:#fff;" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
      </div>
      <div>Push to GitHub</div>
    </div>
    <div id="home" class="adm-btn flex-lf">
      <img class="adm-btn-icon" src="/static/favicon.png">
      <div>Home</div>
    </div>
    <div id="logout" class="adm-btn flex-lf">
      <img class="adm-btn-icon" src="/static/favicon.png">
      <div>Logout</div>
    </div>
    <div id="message"></div>
  </div>
  <script>
    window.onload = () => {
      const doc = document;
      function newEl(s, attb={}, text='', children=[]) {
        const el = doc.createElement(s);
        for (const i in attb) if(attb != null && attb != undefined) el.setAttribute(i, attb[i]);
        if (text) el.innerText = text;
        if (!(children instanceof Array)) children = [children];
        el.append(...children);
        return el;
      };
      function show_message (text = '', classname = '') {
        const msg = doc.getElementById('message');
        msg.className = '';
        if (classname) msg.classList.add(classname);
        if (typeof(text) == 'string') msg.innerText = text;
        else msg.innerHTML = '', msg.appendChild(text);
        return msg;
      };
      const run_timer = (el, init_t) => {
        const _diff = (new Date()).getTime() - init_t;
        setTimeout(() => {
          try {
            el.innerText = countdown_str(_diff) + ' ago';
            run_timer(el, init_t);
          } catch {};
        }, (_diff / 60) * (5 + Math.random() * 5));
      };
      doc.getElementById('push').onclick = () => {
        const xhr = post_xhr('/push'), t = (new Date()).getTime(), count = newEl('span', {class: 'command'}, 'Just now');
        show_message('Pushing project to GitHub...', 'command');
        xhr.onload = () => {
          show_message(newEl('div', {class: 'success', title: 'on ' + (new Date()).toLocaleString()}, '', [
            newEl('span', {}, 'Success '),
            count
          ]))
          run_timer(count, t);
        };
        xhr.onerror = () => {
          show_message(`Error (${xhr.status} ${xhr.statusText})`, 'warn');
        };
      };
      doc.getElementById('home').onclick = () => {
        location = '/';
      };
      doc.getElementById('logout').onclick = () => {
        cookies.removeItem('cd-api-admin');
        location = '/';
      };
    };
  </script>
</body>
</html>