<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cambridge Dictionary API</title>
  <meta content="Cambridge Dictionary API" property="og:title"/>
  <meta content="Made by C.H. CHEE" name="description"/>
  <meta content="Made by C.H. CHEE" property="og:description"/>
  <meta content="/static/og-image.jpg" property="og:image"/>
  <meta content="website" property="og:type"/>
  <meta content="Cambridge Dictionary API" property="og:site_name"/>
  <meta content="C.H. CHEE" name="author"/>
  <meta content="Cambridge, dictionary, API" name="keywords"/>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body class="no-select">
  <div id="view" class="pg-ct core-item flex-ct flex-col">
    <div id="pagetitle">Dictionary</div>
    <div class="flex-ct w-100 flex-wrap">
      <input id="search-box" class="flex-1" value="{{ query }}" type="search" autocomplete="off" placeholder="search" class="core-item" autofocus>
      <div id="search-btn" class="flex-ct">
        <svg viewBox="0 0 48 48"><path d="M39.8 41.95 26.65 28.8q-1.5 1.3-3.5 2.025-2 .725-4.25.725-5.4 0-9.15-3.75T6 18.75q0-5.3 3.75-9.05 3.75-3.75 9.1-3.75 5.3 0 9.025 3.75 3.725 3.75 3.725 9.05 0 2.15-.7 4.15-.7 2-2.1 3.75L42 39.75Zm-20.95-13.4q4.05 0 6.9-2.875Q28.6 22.8 28.6 18.75t-2.85-6.925Q22.9 8.95 18.85 8.95q-4.1 0-6.975 2.875T9 18.75q0 4.05 2.875 6.925t6.975 2.875Z" stroke="currentColor" stroke-width="1"></path></svg>
      </div>
    </div>
  </div>
  <div class="pg-btm command index-btn-list">
    <span>|</span>
    <a href="https://github.com/cch137/cambridge-dict-api/">codes</a>
    <span>|</span>
    <a href="https://ai137.onrender.com">ai137</a>
    <span>|</span>
    <a href="/admin137">admin</a>
    <span>|</span>
  </div>
  <script>
    (() => {
      const searchBox = document.querySelector('input'), pathname = location.pathname;
      function get_value() {return searchBox.value.trim()};
      function go_page(v) {
        if (v) location = `/dict/english-chinese-simplified/${v}`;
      };
      searchBox.onkeyup = (e) => {
        const v = get_value();
        if (e.key == 'Enter') go_page(v);
        history.replaceState(0, 0, `${pathname}?q=${v}`);
      };
      document.getElementById('search-btn').onclick = () => {go_page(get_value())};
    })();
  </script>
</body>
</html>