<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login - Cambridge Dictionary API</title>
  <meta content="Login - Cambridge Dictionary API" property="og:title"/>
  <meta content="Made by C.H. CHEE" name="description"/>
  <meta content="Made by C.H. CHEE" property="og:description"/>
  <meta content="/static/og-image.jpg" property="og:image"/>
  <meta content="website" property="og:type"/>
  <meta content="Cambridge Dictionary API" property="og:site_name"/>
  <meta content="C.H. CHEE" name="author"/>
  <meta content="Cambridge, dictionary, API" name="keywords"/>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
  <script src="/static/main.js"></script>
  <script>
    window.onload = () => {
      const n = 'cd-api-admin';
      if (cookies.hasItem(n)) if (cookies.getItem(n)) alert('Password incorrect.'); cookies.removeItem(n);
      cookies.setItem(n, prompt('Password: '), Infinity, '/');
      location = '';
    };
  </script>
</head>
</html>